.details{
    display: flex;
    /* background-color: rgba(245, 245, 245, 0.5); */
}
table {
    table-layout: fixed;
    width: 95%;
}
tbody {
    width: 100%;
}
.Logo {
    display: flex;
    flex-direction: column;
}
img {
    margin-bottom: 10px;
    margin-top: 10px;
}
.url {
    font-size: 14px;
    color: black;
    text-decoration: underline;
}